{#
/**
 * @file
 * Default theme implementation of a cta block.
 *
 * Available variables:
 * - content
 *
 * @ingroup themeable
 */
#}
<div class="relative bg-black shadow-xl">
  <div class="w-full mx-auto">
    <div class="overflow-hidden lg:grid lg:grid-cols-2">
      {% if content.field_image is not empty %}
        <img class="h-full object-cover" src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="App screenshot">
      {% endif %}
      <div class="pt-10 pb-12 px-6 sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
        <div class="mx-auto max-w-7xl container lg:self-center">
          <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
            <span class="block">{{ content.field_title.0 }}</span>
            <span class="block">{{ content.field_subtitle.0 }}</span>
          </h2>
          <div class="mt-4 text-lg leading-6 text-white prose prose-invert prose-rumah prose-lg">{{ content.body.0|render }}</div>
          {% if content.field_link_left.0 %}
            <a href="{{ content.field_link_left[0]['#url']|render }}" class="mt-8 border border-transparent rounded-md shadow px-5 py-3 inline-flex items-center text-base font-medium text-white bg-rumah-600 hover:bg-rumah-700">{{ content.field_link_left[0]['#title']|render }}</a>
          {% endif %}
          {% if content.field_link_right.0 %}
            <a href="{{ content.field_link_right[0]['#url']|render }}" class="mt-8 border border-transparent rounded-md shadow px-5 py-3 inline-flex items-center text-base font-medium text-rumah-700 bg-rumah-100 hover:bg-rumah-200">{{ content.field_link_right[0]['#title']|render }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
