<!-- Category section -->
<section aria-labelledby="category-heading" class="pt-24 sm:pt-32 xl:max-w-7xl xl:mx-auto xl:px-8">
  <div class="px-4 sm:px-6 sm:flex sm:items-center sm:justify-between lg:px-8 xl:px-0">
    <h2 id="category-heading" class="text-2xl font-extrabold tracking-tight text-gray-900">{{ label }}</h2>
    {% if content.field_link.0 %}
      <a href="{{ content.field_link[0]['#url']|render }}" class="hidden text-sm font-semibold text-rumah-600 hover:text-rumah-500 sm:block">{{ content.field_link[0]['#title']|render }}<span aria-hidden="true"> &rarr;</span></a>
    {% endif %}
  </div>

  {% if content.field_category_items.0 %}
    <div class="absolute min-w-screen-xl px-4 flex space-x-8 sm:px-6 lg:px-8 xl:relative xl:px-0 xl:space-x-0 xl:grid xl:grid-cols-5 xl:gap-x-8">
      {% for key, item in content.field_category_items if key|first != '#'%}
        {% set uri = item['#paragraph'].field_link[0].uri|raw %}
        {% if 'entity:node' in uri %}
          {% set node_id = uri|split('/')[1]|split('')[0] %}
          <a href="{{ path('entity.node.canonical', {'node': node_id}) }}" class="relative w-56 h-80 rounded-lg p-6 flex flex-col overflow-hidden hover:opacity-75 xl:w-auto">
        {% else %}
          <a href="{{ item['#paragraph'].field_link[0].uri|raw }}" class="relative w-56 h-80 rounded-lg p-6 flex flex-col overflow-hidden hover:opacity-75 xl:w-auto">
        {% endif %}
          <span aria-hidden="true" class="absolute inset-0">
                  <img src="{{ file_url(item['#paragraph'].field_image.entity.field_media_image.entity.fileuri)  }}" alt="category image." class="w-full h-full object-center object-cover">
                </span>
          <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-2/3 bg-gradient-to-t from-gray-800 opacity-50"></span>
          <span class="relative mt-auto text-center text-xl font-bold text-white">{{ item['#paragraph'].field_title[0].value|raw }}</span>
        </a>
      {% endfor %}
    </div>
  {% endif %}

  {% if content.field_link.0 %}
    <div class="mt-6 px-4 sm:hidden">
      <a href="{{ content.field_link[0]['#url']|render }}" class="block text-sm font-semibold text-rumah-600 hover:text-rumah-500">{{ content.field_link[0]['#title']|render }}</a>
    </div>
  {% endif %}

</section>