<div class="relative mb-8">
  <!-- Background image and overlap -->
  {% if content.field_image is not empty %}
  <div aria-hidden="true" class="hidden absolute inset-0 sm:flex sm:flex-col">
    <div class="flex-1 relative w-full bg-gray-800">
      <div class="absolute inset-0 overflow-hidden">
        <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="" class="w-full h-full object-center object-cover">
      </div>
      <div class="absolute inset-0 bg-gray-900 opacity-50"></div>
    </div>
    <div class="w-full bg-white h-32 md:h-40 lg:h-48"></div>
  </div>
  {% endif %}

  <div class="relative max-w-3xl mx-auto pb-96 px-4 text-center sm:pb-0 sm:px-6 lg:px-8">
    <!-- Background image and overlap -->
    {% if content.field_image is not empty %}
    <div aria-hidden="true" class="absolute inset-0 flex flex-col sm:hidden">
      <div class="flex-1 relative w-full bg-gray-800">
        <div class="absolute inset-0 overflow-hidden">
            <img src="{{ file_url(content.field_image[0]['#media'].field_media_image.entity.uri.value) }}" alt="" class="w-full h-full object-center object-cover">
        </div>
        <div class="absolute inset-0 bg-gray-900 opacity-50"></div>
      </div>
      <div class="w-full bg-white h-48"></div>
    </div>
    {% endif %}
    <div class="relative py-32">
      <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl md:text-6xl">
        {{ label }}</h1>
      {% if content.field_link.0 %}
      <div class="mt-4 sm:mt-6">
        <a href="{{ content.field_link[0]['#url']|render }}" class="inline-block bg-rumah-600 border border-transparent rounded-md py-3 px-8 font-medium text-white hover:bg-rumah-700">{{ content.field_link[0]['#title']|render }}</a>
      </div>
      {% endif %}
    </div>
  </div>

  <section aria-labelledby="collection-heading" class="-mt-96 relative sm:mt-0">
    <h2 id="collection-heading" class="sr-only">{{ label }}</h2>
    {% if content.field_category_items.0 %}
      <div class="max-w-md mx-auto grid grid-cols-1 gap-y-6 px-4 sm:max-w-7xl sm:px-6 sm:grid-cols-3 sm:gap-y-0 sm:gap-x-6 lg:px-8 lg:gap-x-8">
        {% for key, item in content.field_category_items if key|first != '#'%}
          <div class="group relative h-96 bg-white rounded-lg shadow-xl sm:h-auto sm:aspect-w-4 sm:aspect-h-5">
            <div>
              <div aria-hidden="true" class="absolute inset-0 rounded-lg overflow-hidden">
                <div class="absolute inset-0 overflow-hidden group-hover:opacity-75">
                  <img src="{{ file_url(item['#paragraph'].field_image.entity.field_media_image.entity.fileuri)  }}" alt="paragraph image." class="w-full h-full object-center object-cover">
                </div>
                <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-50"></div>
              </div>
              <div class="absolute inset-0 rounded-lg p-6 flex items-end">
                <div>
                  <p aria-hidden="true" class="text-sm text-white">{{ item['#paragraph'].field_subtitle[0].value|raw }}</p>
                  <h3 class="mt-1 font-semibold text-white">
                    <a href="{{ item['#paragraph'].field_link[0].uri|raw }}">
                      <span class="absolute inset-0"></span>
                      {{ item['#paragraph'].field_title[0].value|raw }}
                    </a>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      {% endif %}
  </section>
</div>