{#
/**
 * @file
 * Better Login theme implementation to display a login page.
 *
 *
 * Available variables:
 *
 * General utility variables:
 * - url: The base URL path of the Drupal website.
 * - logo: Logo path of Drupal website.
 * - site_name: Site name of Drupal website.
 * - title: Title of a page.
 * - register_url: A registration url of Drupal website.
 *
 *
 * Regions:
 * - page.highlighted: Items for the highlighted region.
 * - page.content: The main content of the current page.
 *
 * @see betterlogin_preprocess_betterlogin()
 */
#}

<div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8 page--user-login">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-12 w-auto dark:bg-white p-2" src="{{ site_logo }}" alt="{{ site_name }}">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900 dark:text-white">{{ 'Sign in
    to your account'|t }}</h2>
    <div class="mt-2 text-center text-sm">
      <a
        href="{{ url('<front>') }}" class="font-medium text-rumah-600 hover:text-rumah-500">&larr; {{ 'back to homepage'|t }} {{ site_name }}</a>
    </div>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">

      {{ page.highlighted }}

      {{ messages }}

      {{ page.content }}

      <div class="mt-6">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm">
            <span class="px-2 bg-white text-gray-500"> {{ 'Reset password or register'|t }}</span>
          </div>
        </div>

        <div class="mt-6 grid grid-cols-2 gap-2">
          <div>
            <a
              href="{{ path('user.pass') }}" class="w-full flex items-center text-center justify-center py-3 border border-transparent text-base font-medium rounded-md text-rumah-700 bg-rumah-100 hover:bg-rumah-200 md:text-s">{{ 'Forgot password?'|t }}</a>
          </div>

          {% if register_url %}
            <div>
              <a href="{{ register_url }}" class="w-full flex items-center text-center justify-center py-3 border border-transparent text-base font-medium rounded-md text-rumah-700 bg-rumah-100 hover:bg-rumah-200 md:text-s">{{ 'Register new account'|t }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>