<!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
<div class="mobile-sidebar-user-page fixed inset-0 flex z-40 hidden" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-600 bg-opacity-75" aria-hidden="true"></div>

  <div class="relative flex-1 flex h-full flex-col max-w-xs w-full pt-5 pb-4 bg-white dark:bg-black">
    <div class="absolute top-0 right-0 -mr-12 pt-2">
      <button id="close-sidebar-mobile-user-page" type="button" class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
        <span class="sr-only">Close sidebar</span>
        <!-- Heroicon name: outline/x -->
        <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <div class="flex-shrink-0 flex items-center px-4 dark:bg-white p-4">
      <a href="{{ url('<front>') }}"><img class="h-8 w-auto" src="{{ site_logo }}" alt="rumah"></a>
    </div>
    <div class="mt-5 flex-1 h-0 overflow-y-auto">
      {{ page.sidebar_first }}
    </div>
  </div>

  <div class="flex-shrink-0 w-14" aria-hidden="true">
    <!-- Dummy element to force sidebar to shrink to fit close icon -->
  </div>
</div>

<!-- Static sidebar for desktop -->
<div class="desktop-sidebar-user-page hidden md:flex md:w-64 md:flex-col md:fixed md:inset-y-0">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div class="flex flex-col flex-grow border-r dark:border-rumah-800 border-gray-200 dark:border-rumah-600 pt-5 dark:bg-black bg-white overflow-y-auto">
    <div class="flex items-center flex-shrink-0 px-4 p-4 dark:bg-white">
      <a href="{{ url('<front>') }}"><img class="h-8 w-auto" src="{{ site_logo }}" alt="rumah"></a>
    </div>
    <div class="mt-5 flex-grow flex flex-col">
      {{ page.sidebar_second }}
    </div>
  </div>
</div>