<!-- Favorites section -->
<section aria-labelledby="category-heading">
  <div class="max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-baseline sm:justify-between">
      <h2 id="category-heading" class="text-2xl font-extrabold tracking-tight text-gray-900">{{ label }}</h2>
      {% if content.field_link.0 %}
        <div class="mt-6 sm:hidden">
          <a href="{{ content.field_link[0]['#url']|render }}" class="hidden text-sm font-semibold text-rumah-600 hover:text-rumah-500 sm:block">{{ content.field_link[0]['#title']|render }}<span aria-hidden="true"> &rarr;</span></a>
        </div>
      {% endif %}
    </div>

    {% if content.field_category_items.0 %}
      <div class="mt-6 grid grid-cols-1 gap-y-10 sm:grid-cols-3 sm:gap-y-0 sm:gap-x-6 lg:gap-x-8">
        {% for key, item in content.field_category_items if key|first != '#'%}
          <div class="group relative">
            <div class="w-full h-96 rounded-lg overflow-hidden group-hover:opacity-75 sm:h-auto sm:aspect-w-2 sm:aspect-h-3">
              <img src="{{ file_url(item['#paragraph'].field_image.entity.field_media_image.entity.fileuri)  }}" alt="category image." class="w-full h-full object-center object-cover">
            </div>
            <h3 class="mt-4 text-base font-semibold text-gray-900">
              {% set uri = item['#paragraph'].field_link[0].uri|raw %}
              {% if 'entity:node' in uri %}
                {% set node_id = uri|split('/')[1]|split('')[0] %}
                <a href="{{ path('entity.node.canonical', {'node': node_id}) }}">
                  <span class="absolute inset-0"></span>
                  {{ item['#paragraph'].field_title[0].value|raw }}
                </a>
              {% else %}
                <a href="{{ uri }}">
                  <span class="absolute inset-0"></span>
                  {{ item['#paragraph'].field_title[0].value|raw }}
                </a>
              {% endif %}
            </h3>
            <p class="mt-1 text-sm text-gray-500">{{ item['#paragraph'].field_subtitle[0].value|raw }}</p>
            </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if content.field_link.0 %}
      <div class="mt-6 sm:hidden">
        <a href="{{ content.field_link[0]['#url']|render }}" class="block text-sm font-semibold text-rumah-600 hover:text-rumah-500">{{ content.field_link[0]['#title']|render }}</a>
      </div>
    {% endif %}
  </div>
</section>